
body { 
    background-color: #f8f9fa;
}

.card {
    margin-bottom: 20px;
}
/* #fondo{ */
    /* min-height: 100vh; */
    /* position: relative; */
/* } */
video{
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;

}
#fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;


}