
body { 
    background-color: #43e11253;
}
/*Para la linea debajo el titulo*/
.container h1::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #602929;
    margin: 20px 0;

}

.card {
    margin-bottom: 20px;
}

video{
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
    background-size: cover; 

}
/* Fondo donde esta el collage de imagen*/
#fondo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;


}

#btn1 {
    background: #602929;
}
